.logo {
  color: #009cdc;
  font-size: 50px;
}

.accordion-button::after {
  background-image: url(../img/plus.png);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/minus.png);
}

.accordion-button:not(.collapsed) {
  background-color: rgba(128, 128, 128, 0.315);
  color: black;
}

.accordion-button:focus {
  box-shadow: none;
}

.card-body h5 span {
  margin-left: 150px;
  color: green;
}

.accordion-item {
  border: var(--bs-accordion-border-width) solid black;
}

.navbar-toggler {
  border: 2px solid var(--bs-cyan);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.footer-navbar__icon {
  width: 50px;
  height: 50px;
  color: var(--bs-white);
  margin: 5px 15px;
}

.btn {
  width: 100px;
  margin-top: 10px;
  border-radius: 5px;
}
